# ***Analysis on super store***

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Read the file

In [3]:
df = pd.read_excel(r"C:\Users\Admin\Desktop\Practice\superstore.xls")

In [23]:
df

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2016-110422,2016-01-21,2016-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2019-119914,2019-05-04,2019-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

### Find the number of col and rows in the dataset

In [24]:
df.shape

(9994, 21)

### Dimension of the dataset

In [ ]:
df.ndim

### Getting the Statistical information of the dataset

In [25]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9983.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55245.233297,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32038.715955,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,57103.000000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

### Total number of column in the Dataset

In [5]:

count_col  = df.columns
count_col = pd.Series(count_col)
count_col

0             Row ID
1           Order ID
2         Order_Date
3          Ship Date
4          Ship Mode
5        Customer ID
6      Customer Name
7            Segment
8     Country/Region
9               City
10             State
11       Postal Code
12            Region
13        Product ID
14          Category
15      Sub-Category
16      Product Name
17             Sales
18          Quantity
19          Discount
20            Profit
dtype: object

### Checling the nul values

In [7]:
df.isnull().sum()

Row ID             0
Order ID           0
Order_Date         0
Ship Date          0
Ship Mode          0
Customer ID        0
Customer Name      0
Segment            0
Country/Region     0
City               0
State              0
Postal Code       11
Region             0
Product ID         0
Category           0
Sub-Category       0
Product Name       0
Sales              0
Quantity           0
Discount           0
Profit             0
dtype: int64

### Getting the datypes in the dataset

In [8]:
df.dtypes

Row ID                     int64
Order ID                  object
Order_Date        datetime64[ns]
Ship Date         datetime64[ns]
Ship Mode                 object
Customer ID               object
Customer Name             object
Segment                   object
Country/Region            object
City                      object
State                     object
Postal Code              float64
Region                    object
Product ID                object
Category                  object
Sub-Category              object
Product Name              object
Sales                    float64
Quantity                   int64
Discount                 float64
Profit                   float64
dtype: object

### Getting the whole information of the dataset

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order_Date      9994 non-null   datetime64[ns]
 3   Ship Date       9994 non-null   datetime64[ns]
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Segment         9994 non-null   object
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
 19  Discount        9994 non-null   float64
 20  Profit          9994 non-null   float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(13)
memory usage: 1.6+ MB

### Renaming the colname and getting the top 5 records

In [10]:
df.rename(columns = {'Country/Region' : 'Country' } , inplace = True)
df.head()

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

### Bottom 5 records

In [11]:
df.tail()

,Row ID,Order ID,Order_Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9989,9990,CA-2016-110422,2016-01-21,2016-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
9990,9991,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2019-121258,2019-02-26,2019-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200
9993,9994,CA-2019-119914,2019-05-04,2019-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480

In [12]:
consumer = df.loc[: , ['Customer Name' , 'Country','City' , 'Product Name' , 'Quantity' , 'Sales' , 'Profit']]
consumer

,Customer Name,Country,City,Product Name,Quantity,Sales,Profit
0,Claire Gute,United States,Henderson,Bush Somerset Collection Bookcase,2,261.9600,41.9136
1,Claire Gute,United States,Henderson,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",3,731.9400,219.5820
2,Darrin Van Huff,United States,Los Angeles,Self-Adhesive Address Labels for Typewriters b...,2,14.6200,6.8714
3,Sean O'Donnell,United States,Fort Lauderdale,Bretford CR4500 Series Slim Rectangular Table,5,957.5775,-383.0310
4,Sean O'Donnell,United States,Fort Lauderdale,Eldon Fold 'N Roll Cart System,2,22.3680,2.5164
...,...,...,...,...,...,...,...
9989,Tom Boeckenhauer,United States,Miami,Ultra Door Pull Handle,3,25.2480,4.1028
9990,Dave Brooks,United States,Costa Mesa,Tenex B1-RE Series Chair Mats for Low Pile Car...,2,91.9600,15.6332
9991,Dave Brooks,United States,Costa Mesa,Aastra 57i VoIP phone,2,258.5760,19.3932
9992,Dave Brooks,United States,Costa Mesa,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",4,29.6000,13.3200
9993,Chris Cortes,United States,Westminster,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",2,243.1600,72.9480

In [13]:
consumer1 = consumer.loc[(consumer['Profit'] > 100) & (consumer['Sales']>=200.786) & (consumer['Country']== 'United States')]
consumer1.max()

Customer Name                    Zuschuss Donatelli
Country                               United States
City                                        Yonkers
Product Name     netTALK DUO VoIP Telephone Service
Quantity                                         14
Sales                                       17499.9
Profit                                      8399.98
dtype: object

In [14]:
prod = df.loc[: , ['Product Name' , 'Sales' , 'Profit' , 'Region']]
prod

,Product Name,Sales,Profit,Region
0,Bush Somerset Collection Bookcase,261.9600,41.9136,South
1,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,219.5820,South
2,Self-Adhesive Address Labels for Typewriters b...,14.6200,6.8714,West
3,Bretford CR4500 Series Slim Rectangular Table,957.5775,-383.0310,South
4,Eldon Fold 'N Roll Cart System,22.3680,2.5164,South
...,...,...,...,...
9989,Ultra Door Pull Handle,25.2480,4.1028,South
9990,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,15.6332,West
9991,Aastra 57i VoIP phone,258.5760,19.3932,West
9992,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,13.3200,West
9993,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,72.9480,West

In [ ]:
sns.catplot(x = 'Sales' , y = 'Profit' , hue = 'Region' , data = prod , kind = 'violin' )

In [79]:
prod.sum()

Product Name    Bush Somerset Collection BookcaseHon Deluxe Fa...
Sales                                                  2.2972e+06
Profit                                                     286397
Region          SouthSouthWestSouthSouthWestWestWestWestWestWe...
dtype: object